body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa; /* Light gray background color */
  margin: 0;
  padding: 0;
}

h2 {
  color: #343a40; /* Dark text color for headers */
}

.plot-container {
  margin-top: 20px;
  border: 2px;
}

/* Styling for the dropdown menu */
.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
  border: 1px solid #ced4da; /* Border color for dropdown */
  border-radius: 4px;
  background-color: white;
  color: #495057; /* Text color for dropdown */
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Primary button color */
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; /* Button color on hover */
}

/* Styling for the actual vs predicted plot */
/* #actual-vs-predicted-container,
#seasons-container, */
#average-seasons-container,
#average-year-container,
#average-festival-container {
  background-color: white;
  width: 80%; /* Full width of the container */
}

/* #actual-vs-predicted-plot,
#seasons-plot, */
#average-seasons-plot,
#average-year-plot,
#average-festival-plot {
  width: 80%; /* Full width of the plot */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Additional styling for an interactive and modern look */
.plot-container h3 {
  margin-bottom: 10px;
  color: #343a40; /* Dark text color for headers */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .analysis-container {
    max-width: 100%;
    margin: 10px;
  }
}
